<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smava UI test suite" verbose="1">
    <test name="Smava Parallel Tests" parallel="methods" thread-count="2">
        <classes>
            <class name="LoginTest"></class>
            <class name="LoanTests"></class>
        </classes>
    </test>
</suite>